video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed; /* so that it stays in its spot  */
  z-index: -1; /*set to -1 so that we ensure its not covering any of our other stuff */
}

.img1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed; /* so that it stays in its spot  */
  z-index: -1; /*set to -1 so that we ensure its not covering any of our other stuff */
}

.hero-container {
  /* this is where we put our image*/
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
